#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #dcdcdc;
    z-index: 99999;
}

#ncvo-footer-left {
    bottom: 0;
    left: 0;
    background: green;
}

#footer-text {
    width: 100%;
    text-align: center;
    padding-left: 20px;
}

#footer-reload {
    display: none;
    position: fixed;
    bottom: 0;
    right: 40px;
}

#ncvo-logger-btn {
    position: fixed;
    bottom: 0;
    right: 0;
}
