.ncvoext-level {
    font-weight: bold;
}

.ncvoext-level-debug {
    color: black;
}

.ncvoext-level-info {
    color: darkgoldenrod;
}

.ncvoext-level-warning {
    color: orange;
}

.ncvoext-level-error {
    color: red;
}

.ncvoext-message {
    font-size: 90%;
    word-wrap: anywhere;
}

.ncvoext-controls * {
    display: inline-block;
}

.ncvoext-controls-component {
    margin-left: 20px;
}

.ncvoext-feature {
    font-variant: all-small-caps;
    margin-left: 10px;
    padding-right: 5px;
}

.fa.fa-check {
    display: none;
    top: 5px;
    padding-right: 5px;
}

.fa.fa-times {
    display: none;
    top: 5px;
    padding-right: 5px;
}
